<section class="section columns">
  <div class="column">
    <form action="/poi/{{poi._id}}/addreview" method="POST">
      <div class="field">
        <label class="label">Review</label>
        <div class="control">
          <textarea class="textarea" name="comment" placeholder="Review"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Rating</label>
        <div class="control">
          <input class="input" type="number" name="rating" placeholder="Rating" min="1" max="5">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary">Add Review</button>
        </div>
      </div>
    </form>
  </div>

  <div class="column">
    {{#each reviews}}
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{this.userid.firstName}} {{this.userid.lastName}}</strong>
                <br>
                {{this.comment}}
              </p>
            </div>
            <nav class="level is-mobile">
              <p>Rating: <b>{{this.rating}} / 5</b></p>
            </nav>
          </div>
        </article>
      </div>
    {{/each}}
  </div>
</section>